<!doctype html>
<html>
    <head>
    </head>

    <body>
        First Name:
        {{First_name}}
        Last Name:
        {{Last_name}}
        Phone Number:
        {{Phone_number}}
        Email:
        {{Email}}
        Linkedin:
        {{Linkedin}}
        City:
        {{City}}
        State:
        {{State}}
        Zip Code:
        {{Zip_code}}
        Employer:
        {{Employer}}
        Start Date:
        {{Start_date}}
        End Date:
        {{End_date}}
        Description:
        {{Description}}
        School:
        {{School}}
        GPA:
        {{Gpa}}
        Field of Study:
        {{Field_of_study}}
        Graduation Date:
        {{Graduation_date}}
        Languages:
        {{Languages}}
        Softwares:
        {{Softwares}}
        Other Tools:
        {{Other_tools}}
    </body>
</html>