<!doctype html>
<html>
    <head>
    </head>

    <body>
        Name:
        {{Name}}
        Description:
        {{Description}}
        Phone Number:
        {{Phone_Number}}
        Skills:
        {{Skills}}
        Company:
        {{Company}}
    </body>
</html>